<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky">

<!-- Compiled and minified Materialize CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<link rel="stylesheet" type="text/css" href="/assets/css/style.css" type="text/css">

<title>Burger Menu</title>
</head>

<body>
	<img src="/assets/images/burger.jpg" width="400px" id="burger">

	{{{ body }}}
<footer class="burgerFooter">
<div class="Footer-copyright">
	<div class="container">
		<span class="gry-text 
		text-lighten-4"> copyright 2017 Yahya Al zubaidi </span>
		<a class="grey-text text-lighten-4 right" href="https://github.com/YahyaAlzubaidi"></a>


		</div>
	</div>
	
</footer>
</body>
</html>
